{% extends 'Emails/base.html.twig' %}
{% block stylesheets %}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
{% endblock %}
{% block body %}
    Bonjour,
    <br>
    <br>
    {{ message }}.
    {% if request is defined %}
        <br>
        <br>
        <table style="  border: 1px solid black;">
            <tr>
                <th style=" border: 1px solid #999;padding: 0.5rem;text-align: left;">Oeuvre</th>
                <th style=" border: 1px solid #999;padding: 0.5rem;text-align: left;">Status</th>
            </tr>
            {% for reqArt  in request.requestedArtWorks %}
                <tr>
                    <td style=" border: 1px solid #999;padding: 0.5rem;text-align: left;">{{ reqArt.artWork.title }}</td>
                    <td style=" border: 1px solid #999;padding: 0.5rem;text-align: left;">{{ reqArt.status }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <br>

    Bonne réception
{% endblock %}